body {
    padding: 10%;
    background-color:  #8AB6F9;
}

fieldset{
    border: 5px #00246B ridge;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

.but{
    margin-bottom: 2%;
}

p {
    color: black;
}

button{
    background-color: transparent;
    border: none;
}


