body{
    background-color: black;
}

#formCon{
    border: 5px #3B5BA5 ridge;
    background-color: #E87A5D;
    color: #F3B941;
}

fieldset{
    border: red solid 5px;
    padding: 20px;
    margin: 20%;
}

div p {
    color: blue;
}

.Envoyer{
    display: flex;
    justify-content: center;
}

input[type=submit]{
    background-color: red;
}