body {
    padding: 10%;
}
fieldset{
    border: brown solid 5px;
    padding: 20px;
    margin: 10%;
}

div p {
    color: black;
}

.Envoyer{
    display: flex;
    justify-content: center;
}

button{
    background-color: inherit;
    border: none;
}